extends layout

block content
  h1= title
  - let shoes=results
  div(class="container-fluid mt-3")
  div(class="row")
    each shoe,index in shoes
      div(class="col-sm-4 bg-info m-1 p-3" style=("font-weight:bolder")  onclick=`buy(${index})`) #{shoe.shoename} - #{shoe.type} - #{shoe.color} - #{shoe.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
  