extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let shoeid = toShow._id
    - let shoename = toShow.shoename
    - let type = toShow.type
    - let color = toShow.color
    - let price = toShow.price

    - let actionid = "/resource/shoes/" + shoeid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Shoe ID is:
        div #{shoeid}
      div.row
        div(class='costumeAttr mr-3') Shoe name is:
        div #{shoename}
      div.row
        div(class='costumeAttr mr-3') Shoe type is:
        div #{type}
      div.row
        div(class='costumeAttr mr-3') Shoe color is:
        div #{color}
    div.row
        div(class='costumeAttr mr-3') Shoe price is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/shoes'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/shoes'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
